/**
 *   (C) Copyright - Integrated Medical Technology Pty Ltd. 1993 - 2020. All rights reserved.
 */

/* Remove Header */
#t_Header{
	display: none !important;
}

/* Remove the line below company logo*/
.t-Body-title{
    border-bottom:none !important
}
/* Hide footer-top button */
.t-Footer-top { 
    display: none !important;
}

/* Remove footer right padding*/
.t-Footer{
	padding-right: 0px !important;
	padding-bottom: 0px !important;
}

/* Align company website to end in footer*/
#company-website{
	text-align:start;
}
